* {
  box-sizing: border-box;
}

body {
    background: #fbfbfb;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: none;
}

.container {}
.contain-center {
    max-width:900px;
    margin: 0 auto;
}
.banner {
    background-color: #331C3C;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    width: 100%;

}

.main-heading {
    font-size: 3em;
    text-align: center;
}

.heading {
    font-weight: 400;
}

.heading--primary {
    line-height: 1.5;
    padding: 1em;
    margin: 0;
    font-size: 1.1em;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 40px;
    text-align: center;
}

.test-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1em;
}
.test-list .card {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.test-list__item {
    flex: 0 0 auto;
    width: 33.33%;
    padding-left: 1em;
}

.test-list__link {
    color: rgb(161, 36, 192);
    text-decoration: none;
}

.controls {
    position: fixed;
    left: 1em;
}

.button {
    background: #331C3C;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.85em;
    padding: 1em 1.5em;
    margin-bottom: 1em;
}

.button:hover {
    background: #6D3D80;
}

.button:focus {
    background: #6D3D80;
    outline: 1px solid #914FAB;
}

.button:active {
    transform: translateY(1px);
}


.card {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    color: #484e5c;
    padding: 1.5em;
    width: 100%;
}

.card__image {

}

.image {
    background: #666;
    height: 100px;
    width: 100%;
}

.card__content {

}

.card__heading {
    font-size: 1.5em;
}

.card__text {
    font-size: 1em;
}

.card__button {
    background-color: #333;
    border-radius: 3px;
    color: #fff;
    font-size: 1em;
    padding: 1em;
}


/**
 * Test cases
 * test stage will change and grid/grid items will change
 */

.test-stage {
    margin: 0 auto;
    max-width: 1000px;
}

.test-stage.is-reduced {
    max-width: 800px;
}

/**
 * 1. Floated grid
 */

.test-stage--float .grid {
    margin-left: -1em;
}

.test-stage--float .grid__item {
    float: left;
    margin-bottom: 1em;
    padding-left: 1em;
    width: 25%;
}

.test-stage--float .grid__item:nth-child(4n+1){
    clear: left;
}

/**
 * 2. Floated grid with nth-selectors
 */

.test-stage--float-nth-selector .grid {
    margin-left: -1em;
}

.test-stage--float-nth-selector .grid__item {
    float: left;
    margin-bottom: 1em;
    padding-left: 1em;
    width: 25%;
}

.test-stage--float-nth-selector .grid__item:nth-child(n+6){
    width: 50%;
}

.test-stage--float-nth-selector .grid__item:nth-child(4n+1){
    clear: left;
}

/**
 * 3. Floated grid with calc
 */

.test-stage--float-calc .grid {
    margin-left: -1em;
}

.test-stage--float-calc .grid__item {
    float: left;
    margin-bottom: 1em;
    padding-left: 1em;
    width: calc(10vw + 200px);
}

.test-stage--float-calc .grid__item:nth-child(4n+1){
    clear: left;
}

/**
 * 4. Floated grid with viewport
 */

.test-stage--float-viewport .grid {
    margin-left: -1em;
}

.test-stage--float-viewport .grid__item {
    float: left;
    margin-bottom: 1em;
    padding-left: 1em;
    width: 16vw;
}

.test-stage--float-viewport .grid__item:nth-child(4n+1){
    clear: left;
}

/**
 * 5. Flexbox, no stretch
 */

.test-stage--flex .grid {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-left: -1em;
}

.test-stage--flex .grid__item {
    flex: 0 0 auto;
    margin-bottom: 1em;
    padding-left: 1em;
    width: 25%;
}

/**
 * 6. Stretch
 */

.test-stage--flex-stretch .grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1em;
}

.test-stage--flex-stretch .grid__item {
    display: flex;
    flex: 0 0 auto;
    margin-bottom: 1em;
    padding-left: 1em;
    width: 25%;
}

/**
 * 7. Container queries
 */

.test-stage--flex-nth .grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1em;
}

.test-stage--flex-nth .grid__item {
    display: flex;
    flex: 0 0 auto;
    margin-bottom: 1em;
    padding-left: 1em;
    width: 25%;
}

.test-stage--flex-nth .grid__item:nth-last-child(2):nth-child(4n) {
    min-width: 33%;
}

/**
 * 8. Flexbox, grow
 */

.test-stage--flex-grow .grid {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-left: -1em;
}

.test-stage--flex-grow .grid__item {
    display: flex;
    flex: 1 0 auto;
    margin-bottom: 1em;
    margin-left: 1em;
    width: 25%;
}

/**
 * 9. Flexbox, Reverse wrap
 */

.test-stage--flex-wrap-reverse .grid {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-left: -1em;
}

.test-stage--flex-wrap-reverse .grid__item {
    margin-left: 1em;
    margin-bottom: 1em;
    display: flex;
    flex: 0 0 auto;
    width: 25%;
}

/**
 * 10. position
 */

.test-stage--flex-position .grid {
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-left: -1em;
}

.test-stage--flex-position .grid__item {
    margin-left: 1em;
    margin-bottom: 1em;
    display: flex;
    flex: 0 0 auto;
    width: 25%;
}

/**
 * 11. Grid
 */

.test-stage--grid .grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-left: -1em;
}
.test-stage--grid .grid__item {
    padding-left: 1em;
    margin-bottom: 1em;
    display: flex;
}

/**
 * 12. Progressive layout
 */

.test-stage--progressive-grid .grid {
    margin-left: -1em;
}

.test-stage--progressive-grid .grid__item {
    float: left;
    padding-left: 1em;
    margin-bottom: 1em;
    width: 25%;
}

.test-stage--progressive-grid .grid__item:nth-child(4n+1){
    clear: left;
}

@supports (display: flex) {
    .test-stage--progressive-grid .grid {
        display: flex;
        flex-wrap: wrap;
    }

    .test-stage--progressive-grid .grid__item {
         display: flex;
         flex: 0 0 auto;
    }
}

@supports (display: grid) {
    .test-stage--progressive-grid .grid {
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }

    .test-stage--progressive-grid .grid__item {
        width: auto;
    }
}