* {
  box-sizing: border-box;
}

body {
    background: #ddd;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

button {
    background: none;
    border: none;
}

.container {}

.heading {
    font-weight: 700;
}

.heading--primary {
    font-size: 2em;
}

.test-list {}
.test-list__item {}




.card {
    background: #fff;
    border-radius: 3px;
    padding: 1.5em;
    width: 100%;
}

.card__image {

}

.image {
    background: #666;
    height: 100px;
    width: 100%;
}

.card__content {

}

.card__heading {
    font-size: 1.5em;
}

.card__text {
    font-size: 1em;
}

.card__button {
    background-color: #333;
    border-radius: 3px;
    color: #fff;
    font-size: 1em;
    padding: 1em;
}


/**
 * Test cases
 * test stage will change and grid/grid items will change
 */

.test-stage {
    margin: 0 auto;
    max-width: 1000px;
}

/**
 * 1. Floated grid
 */

.test-stage--float .grid {
    margin-left: -1em;
}

.test-stage--float .grid__item {
    float: left;
    margin-bottom: 1em;
    padding-left: 1em;
    width: 25%;
}

.test-stage--float .grid__item:nth-child(4n+1){
    clear: left;
}

/**
 * 2. Floated grid with nth-selectors
 */

.test-stage--float-nth .grid {

}

.test-stage--float-nth .grid__item {

}

/**
 * 3. Floated grid with calc
 */

.test-stage--float-calc .grid {
    margin-left: -1em;
}

.test-stage--float-calc .grid__item {
    float: left;
    margin-bottom: 1em;
    padding-left: 1em;
    width: calc(10vh + 200px);
}

.test-stage--float-calc .grid__item:nth-child(4n+1){
    clear: left;
}

/**
 * 4. Floated grid with viewport
 */

.test-stage--float-viewport .grid {
    margin-left: -1em;
}

.test-stage--float-viewport .grid__item {
    float: left;
    margin-bottom: 1em;
    padding-left: 1em;
    width: 20vw;
}

.test-stage--float-viewport .grid__item:nth-child(4n+1){
    clear: left;
}

/**
 * 5. Flexbox, no stretch
 */

.test-stage--flex .grid {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-left: -1em;
}

.test-stage--flex .grid__item {
    flex: 0 0 auto;
    margin-bottom: 1em;
    padding-left: 1em;
    width: 25%;
}

/**
 * 6. Stretch
 */

.test-stage--flex-stretch .grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1em;
}

.test-stage--flex-stretch .grid__item {
    display: flex;
    flex: 0 0 auto;
    margin-bottom: 1em;
    padding-left: 1em;
    width: 25%;
}

/**
 * 7. Container queries
 */

.test-stage--flex-container-queries .grid {

}

.test-stage--flex-container-queries .grid__item {

}

/**
 * 8. Flexbox, grow
 */

.test-stage--flex-grow .grid {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-left: -1em;
}

.test-stage--flex-grow .grid__item {
    display: flex;
    flex: 1 0 auto;
    margin-bottom: 1em;
    margin-left: 1em;
    width: 25%;
}

/**
 * 9. Flexbox, Reverse wrap
 */

.test-stage--flex-wrap-reverse .grid {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-left: -1em;
}

.test-stage--flex-wrap-reverse .grid__item {
    margin-left: 1em;
    margin-bottom: 1em;
    display: flex;
    flex: 0 0 auto;
    width: 25%;
}


